################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestRunConsole/.vs/TestRunConsole
/TestRunConsole/TestRunConsole/obj/Release/net8.0
/TestRunConsole/TestRunConsole/obj/Debug/net8.0
